#b11,#b12,#b13,#b21,#b22,#b23,#b31,#b32,#b33 {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    ;
    font-size: 20;
}
p{
  color:red;
  background-color:cyan;
}
body{
     color:blue;
     background-color:skyblue;
}
h1{
   border:6px solid orange;
   color:orange;
   background-color:royalblue;
}
